aside {
  width: 200px;
  flex-shrink: 0;
}

.category-menu {
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(14, 31, 53, 0.08),
    0px 1px 4px 0px rgba(14, 31, 53, 0.12);
  width: 100%;
  overflow-y: hidden;
  &__list {
    &::-webkit-scrollbar {
      display: none;
    }
    max-height: 0;
    overflow-y: scroll;
    transition: 0.3s max-height ease-in-out;
    ul {
      margin-top: 10px;
      padding-bottom: 10px;
      display: flex;
      transition: 0.3s all ease;
      flex-direction: column;
      & > li {
        padding: 8px 20px;

        &:hover {
          color: var(--accent-color);
        }
        user-select: none;
        & > p {
          color: #000;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          letter-spacing: -0.1px;
          margin-block-start: 0;
          margin-block-end: 0;
          &:hover {
            color: var(--accent-color);
          }
        }
        & > ul {
          margin-top: 15px;
          display: none;
          & > li {
            padding: 0;
            padding-left: 5px;
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        & > ul > li > a {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
          opacity: 0.6;
        }
      }
    }
  }
  &__head {
    padding: 15px 39px 15px 30px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    align-items: center;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    background-color: #072a40;
    gap: 18px;
    h2 {
      color: white;
      font-size: 20px;
      font-weight: 500;
    }
  }
}

.burger-btn {
  width: 15px;
  height: 10px;
  position: relative;
  cursor: pointer;
  &:before {
    content: "";
    border-radius: 1px;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    bottom: 0;
  }
  &:after {
    content: "";
    border-radius: 1px;
    position: absolute;
    height: 2px;
    width: 100%;
    top: 0;
    background-color: #ffffff;
  }
  span {
    position: absolute;
    height: 2px;
    width: 100%;
    top: 4px;
    background-color: #ffffff;
    border-radius: 1px;
  }
}

@media screen and (max-width: 1080px) {
  aside {
    width: 100%;
  }
  .category-menu {
    &__head {
      justify-content: unset;
    }
    h2 {
      margin: 0 auto;
    }
  }
}
