.footer {
  background-color: #06293f;
  padding-top: 75px;
  &__top {
    padding-bottom: 37px;
    display: flex;
    justify-content: space-between;
  }

  &__column {
    width: calc(100% / 2 - 40px);
  }

  &__contacts__title {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 100% */
  }

  &__schedule {
    color: #fff;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    max-width: 70%;
    display: block;
  }

  &__info {
    margin-top: 37px;

    &__item {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 29px;
      padding: 18px 0;
      border-bottom: 1px solid #1e3e51;

      &:nth-child(1) {
        border-top: 1px solid #1e3e51;
      }

      strong,
      span,
      a {
        color: #fff;
      }
    }
  }

  &__socials {
    margin-top: 25px;
    display: flex;
    gap: 15px;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 15px 23px;
    border-radius: 22px;
    background: #000;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    &:hover {
      background-color: rgb(23, 23, 23);
    }
  }
  &__map {
    height: 100%;
    width: 100%;
    iframe {
      height: 100%;
      width: 100%;
    }
  }
  &__bottom {
    border-top: 1px solid #1e3e51;
    .container {
      padding: 10px 20px;
      display: flex;
      align-items: center;
    }
  }

  &__menu {
    margin-left: 45px;

    & ul {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;

      & li {
        &:hover {
          & a {
            color: rgba($color: #fff, $alpha: 0.3);
          }
        }
        & a {
          text-align: center;
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
          transition: all 0.3s;
          color: rgba($color: #fff, $alpha: 0.5);
        }
      }
    }
  }
}

.rights,
.powered {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.5;
}

.rights {
  margin-left: 23px;
}
.powered {
  margin-left: 50px;
}

@media screen and (max-width: 920px) {
  .footer {
    padding-top: 40px;
    &__top {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    &__info__item {
      font-size: 18px;
    }
    &__column {
      width: 100%;
    }
    &__contacts__title {
      font-size: 32px;
    }
    &__schedule {
      font-size: 20px;
    }
    &__map {
      height: 450px;
    }

    &__btn {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 580px) {
  .footer {
    &__container {
      flex-direction: column;
    }
    &__menu {
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
      }
    }
  }
  .rights {
    margin-left: 0;
    margin-top: 10px;
  }
  .powered {
    margin-left: 0;
  }
}
