.header {
  margin: 0 auto;
  border-bottom: 0.5px solid rgba(151, 151, 151, 0.30);
  &__container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__socials {
    //margin-left: 15px;
    display: flex;
    gap: 12px;
  }
  &__menu {
    //margin-left: 30px;
    //margin-right: 25px;
    ul {
      display: flex;
      gap: 15.5px;
      a {
        font-size: 15px;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: -0.281px;
      }
    }
  }
  &__contacts {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #06293F;
    &__info {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }
    &__phone {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
    }
    &__status {
      font-size: 15px;
      font-weight: 300;
      line-height: 15px;
    }
  }

}