.header {
  margin: 0 auto;
  border-bottom: 0.5px solid rgba(151, 151, 151, 0.3);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  &__menu {
    ul {
      display: flex;
      gap: 15.5px;

      li {
        padding: 27.5px 0;

        &:hover .dropdown {
          visibility: visible;
        }
      }

      a {
        font-size: 15px;
        padding: 27.5px 0;
        position: relative;
        font-weight: 300;
        line-height: 16px;
        letter-spacing: -0.281px;

        &:hover::before {
          content: "";
          width: 100%;
          height: 2px;
          background-color: #f49719;
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  .dropdown {
    position: absolute;
    top: 75px;
    height: auto;
    z-index: 1;
    left: 0;
    right: 0;
    width: 100vw;
    visibility: hidden;
    background-color: #ffffff;
    & .container {
      position: relative;
    }
    &__inner {
      padding: 40px 0;
    }
    &__menu {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 300px;
      gap: 0;
      & li {
        padding: 0;
        padding-bottom: 15px;
        &:last-child {
          padding-bottom: 0;
        }
        &:hover {
          font-weight: bold;
        }
        &:hover > ul {
          visibility: visible;
        }
        & ul {
          height: auto;
          width: 400px;
          display: flex;
          visibility: hidden;
          flex-direction: column;
          padding-left: 100px;
          position: absolute;
          top: 0;
          left: 100%;
          gap: 0;
          & li {
            & a {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              opacity: 0.8;
              line-height: 14px;
            }
            &:hover & > ul {
              visibility: visible;
            }
            & ul {
              height: auto;
              visibility: hidden;
              display: flex;
              flex-direction: column;
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }

      a {
        padding: 0;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;

        &:hover {
          color: #f49719;
        }

        &:hover::before {
          display: none;
        }
      }
    }
  }

  &__contacts {
    display: flex;
    gap: 15px;
    align-items: center;
    color: #06293f;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

    &__phone {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
    }

    &__status {
      font-size: 15px;
      font-weight: 300;
      line-height: 15px;
    }
  }
}

.socials__item {
  display: flex;
  align-items: center;
}

@media (max-width: 1280px) {
  .header {
    &__menu {
      display: none;
    }
  }
}
