.pagination {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 30px;
  &__btn {
    border-radius: 3px;
    border: 1px solid rgba(27, 55, 104, 0.7);
    background: rgba(27, 55, 104, 0.05);
    padding: 14px 18px;
    color: #1b3768;
    font-size: 14px;
    transition: 0.3s all ease;
    &:hover {
      background: #1b3768;
      color: white;
    }
  }
  &__next,
  &__prev {
    display: flex;
    align-items: center;
  }
  &__pages {
    display: flex;
    gap: 15px;
  }
  .selected {
    background: #1b3768;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .pagination {
    gap: 20px;
    &__btn {
      border-radius: 3px;
      border: 1px solid rgba(27, 55, 104, 0.7);
      background: rgba(27, 55, 104, 0.05);
      padding: 10px 14px;
      color: #1b3768;
      font-size: 14px;
      font-style: normal;
      transition: 0.3s all ease;
    }
  }
}
