* {
  font-family: Montserrat, sans-serif;
}

.hero {
  position: relative;
  background-position: 50% 43%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-color: rgba(17, 17, 17, 0.8);
    z-index: 0;
  }

  & h1 {
    position: relative;
    z-index: 1;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--secondart-font-color)
  }
}

.brands {
  padding-bottom: 100px;
  padding-top: 80px;

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(100% / 5);

    &__image {
      margin: 50px auto;
      height: 160px;
      width: 160px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }


  &__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #060607;

    & span {
      font-size: inherit;
      font-weight: inherit;
      color: var(--accent-color)
    }
  }

}


@media screen and (max-width: 1020px) {
  .hero {
    padding: 70px 0;

    & h1 {
      font-size: 42px;
    }
  }
  .brands {
    padding-top: 75px;
    padding-bottom: 50px;

    &__items {
      justify-content: center;
    }

    &__title {
      margin-bottom: 0;
    }

    &__item {
      &__image {
        height: 120px;
        margin: 20px auto;
      }

      width: calc(100% / 4 - 20px);
    }
  }
}

@media screen and (max-width: 860px) {
  .hero {
    padding: 70px 0;
  }
  .brands {
    padding-top: 50px;

    &__item {
      &__image {
        height: 120px;
        margin: 20px auto;
      }

      width: calc(100% / 3 - 20px);
    }
  }
}

@media screen and (max-width: 780px) {
  .hero {
    padding: 70px 0;

    h1 {
      font-size: 36px;
    }
  }
  .brands {
    padding-top: 50px;

    &__title {
      font-size: 36px;
    }

    &__item {
      &__image {
        height: 100px;
        margin: 10px auto;
      }

      width: calc(100% / 3 - 20px);
    }
  }
}

@media screen and (max-width: 650px) {
  .hero {
    padding: 70px 0;

    h1 {
      font-size: 36px;
    }
  }
  .brands {
    &__item {
      width: calc(100% / 2 - 20px);
      &__image {
        height: 140px;
      }
    }
  }
}



@media screen and (max-width: 480px) {
  .hero {
    padding: 70px 0;

    h1 {
      font-size: 26px;
    }
  }
  .brands {
    padding: 25px 0;
    &__title {
      font-size: 26px;
    }
    &__item {
      width: 100%;
      &__image {
        height: 140px;
        width: 70%;
        margin: 0 auto;
      }
    }
  }
}