.catalogs {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background: #f6f6f6;
    gap: 15px;
    padding: 20px 0 30px 0;
    width: calc(100% / 4 - 20px);
    img {
      height: 120px;
      width: 100%;
      object-fit: contain;
    }
    h3 {
      padding: 0 5px;
      max-width: 150px;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
      opacity: 0.8;
    }
  }
}

.catalog {
  padding-bottom: 150px;
  &__inner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .catalog {
    &__inner {
      flex-direction: column;
    }
    &__items {
      justify-content: center;
    }
    .category-menu {
      width: 100%;
      &__head {
        justify-content: unset;
      }
      h2 {
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .catalogs {
    &__item {
      width: calc(100% / 3 - 20px);
    }
  }
}

@media screen and (max-width: 620px) {
  .catalogs {
    &__item {
      width: calc(100% / 2 - 20px);
    }
  }
}

@media screen and (max-width: 480px) {
  .catalog {
    padding-bottom: 75px;
  }
  .catalog-title {
    font-size: 26px;
  }
  .category-menu__head {
    h2 {
      font-size: 18px;
    }
  }
  .catalogs__item {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
