.category {
  padding-bottom: 150px;
  &__inner {
    display: flex;
    gap: 20px;
  }
  &__title {
    margin-bottom: 30px;
  }
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  &__items {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px 20px;
  }
}

.categories {
  &__item {
    width: calc(100% / 2 - 20px);
    &__title {
      color: #111;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 20px;
    }
    &__block {
      display: flex;
      border-radius: 6px;
      border: 1px solid #e6e9eb;
      img {
        height: 200px;
        width: 200px;
        object-fit: contain;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    &__info {
      padding: 20px;
      h4 {
        color: #000;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 10px;
      }
      p {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 15px;
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .category {
    &__inner {
      flex-direction: column;
    }
  }
  .categories {
    &__item {
      &__title {
        max-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .category {
    &__inner {
      flex-direction: column;
    }
  }
  .categories {
    &__item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 780px) {
  .category {
    &__title {
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 480px) {
  .categories {
    &__item {
      width: 100%;
      &__block {
        flex-direction: column;
        img {
          width: 100%;
        }
      }
    }
  }
}
