@import "components/viewed-items";
@import "components/brands-filter";
@import "components/item-with-cart";
.category {
  padding-bottom: 100px;

  &__inner {
    display: flex;
    gap: 20px;
  }
}

.categories {
  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
  &__items {
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    width: calc(100% / 4 - 20px);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background: rgba($color: #19191a, $alpha: 0.04);
    justify-content: space-between;
    gap: 20px;
    & h3 {
      text-align: center;
      font-size: 14px;
      line-height: 14px;
      letter-spacing: -0.2px;
    }
    &__image {
      height: 70px;
      width: 70px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__text {
    margin-bottom: 50px;
    & p {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .category {
    &__inner {
      flex-direction: column;
    }
  }
  .categories__items {
    justify-content: center;
  }
}

@media screen and (max-width: 780px) {
  .category {
    padding-bottom: 50px;
  }
  .categories {
    &__title {
      font-size: 26px;
    }
    &__item {
      width: calc(100% / 3 - 20px);
    }
    &__text {
      & p {
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .categories {
    &__item {
      width: calc(100% / 2 - 20px);
    }
  }
}

@media screen and (max-width: 480px) {
  .categories {
    &__item {
      width: 100%;
    }
    &__title {
      font-size: 24px;
    }
    &__text {
      margin-bottom: 25px;
    }
  }
}
