.news {
  padding-bottom: 100px;
  &__preview {
    display: flex;
    gap: 20px;
    img {
      width: 50%;
      border-radius: 4px;
      object-fit: cover;
    }
    &__info {
      p {
        margin-top: 20px;
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.2px;
        opacity: 0.8;
      }
      h2 {
        color: #19191A;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 35px;
      }
      width: 50%;
    }
  }

  &__items {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 20px;
  }

  &__item {
    width: calc(100% / 3 - 20px);
    h3 {
      margin-top: 20px;
      color: #19191A;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 10px;
    }
    span {
      color: #777;
      font-size: 14px;
      font-weight: 400;
      line-height: 14px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.more-btn {
  color: #19191A;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: inline-block;
  padding: 10px 20px;
}
