@import 'components/vars';
@import 'components/global';
@import 'components/header';
@import 'components/footer';
@import 'components/media';
@import 'components/aside';

.filled-btn {
  border-radius: 3px;
  background: #072A40;
}

.pd20 {
  padding: 20px;
}

.title {
  color: #111;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
}

.breadcrumbs {
  margin-top: 30px;
  margin-bottom: 50px;

  span, a {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}

.outline-btn {
  border-radius: 18px;
  border: 1px solid #F49719;
}

@media screen and (max-width: 450px) {
  .breadcrumbs {
    margin-bottom: 25px;
  }
}